# Dependencies
node_modules/

# Next.js
.next/
out/

# Convex
.env.local

# Env files
.env
.env*.local

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Test
coverage/

# OS
.DS_Store

# clerk configuration (can include secrets)
/.clerk/
